/* General styles */
html,
body {
    height: 100%;
}

main {
    min-height: calc(100vh - 5rem);
}

/* Footer */
footer {
    height: 5rem;
}


/*Global - Background colors*/
.bg-offwhite {
    background-color: #F2F1EE;
}

.bg-red {
    background-color: #681018;
}

.bg-beige {
    background-color: #DEC2A2;
}

/*Global - Font styles*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bodoni Moda', serif;
}

p,
a {
    font-family: 'Open Sans', sans-serif;
}


/*Custom CSS for profile.php*/
/*Profile - Image size*/
.profile-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/*Profile - Bio width*/
.profile-bio {
    max-width: 450px;
}

/*Reviews - Paragraph width*/
.review-text {
    max-width: 500px;
}

/*Top notes - Image cover fit*/
.img-cover {
    object-fit: cover;
}

/*Top notes section - fixed height*/
.top-notes-row {
    height: 450px;
}